/**
 * Licensed to the Apache Software Foundation (ASF) under one
 * or more contributor license agreements.  See the NOTICE file
 * distributed with this work for additional information
 * regarding copyright ownership.  The ASF licenses this file
 * to you under the Apache License, Version 2.0 (the
 * "License"); you may not use this file except in compliance
 * with the License.  You may obtain a copy of the License at
 *
 *     http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software
 * distributed under the License is distributed on an "AS IS" BASIS,
 * WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 * See the License for the specific language governing permissions and
 * limitations under the License.
 */

// Colors
@logo-orange: #D27A22;

@bg-lite: #f0f0f0;
@bg-liter: #f5f5f5;
@bg-red-light: #FFE6E6;

@bg-grey: #f0f0f0;

@border-lite: #e5e5e5;
@border-color: #ddd;

@white: #fff;

@text-color: rgb(70, 70, 70);
@text-red: red;
@text-light: #BBBBBB;
@text-green: green;

@top-nav-bg-color-from: #d5d5d5;
@top-nav-bg-color-to: #f0f0f0;

@success-color: limegreen;
@error-color: crimson;
@warning-color: orange;
@unknown-color: crimson;
