/**
 * Licensed to the Apache Software Foundation (ASF) under one
 * or more contributor license agreements.  See the NOTICE file
 * distributed with this work for additional information
 * regarding copyright ownership.  The ASF licenses this file
 * to you under the Apache License, Version 2.0 (the
 * "License"); you may not use this file except in compliance
 * with the License.  You may obtain a copy of the License at
 *
 *     http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software
 * distributed under the License is distributed on an "AS IS" BASIS,
 * WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 * See the License for the specific language governing permissions and
 * limitations under the License.
 */

@import "../bower_components/font-awesome/less/font-awesome";

.fa-icon(@name) {
    @content: "fa-var-@{name}";
    &:before {content: @@content}
}

/* colors */
@success-color: limegreen;
@error-color: crimson; 
@warning-color: orange;

/* misc helpers */
.align-right {
	float: right;
}

.align-left {
	float: left;
}

.align-clear {
	clear: both;
}

.margin-small {
	margin: 15px;
}

.margin-small-horizontal {
	margin: 15px 0px;
}

.margin-medium {
	margin: 30px;
}

.type-table {
	display: table;
}

.fill-full {
	width: 100%;
	height: 100%;
}

/* Navigation */
.page-nav-link {
	.fa;
	//TODO: change this and remove below .fa-3x;
	font-size: 2.5em;
	cursor: pointer;
	color: black;

	&.disabled {
		pointer-events: none;
		color:lightgray;
	}

	&.nav-first {
		.fa-icon(arrow-circle-o-left);
	}

	&.nav-prev {
		.fa-icon(arrow-circle-left)
	}

	&.nav-next {
		.fa-icon(arrow-circle-right);
	}
}

.pill-container {
	display: table-cell;
	margin-right: 30px;

	a {
		height: 30px !important;
		padding: 5px 15px !important;
	}
}

/* dag page */
.detail-list {
	table-layout: fixed;
	overflow: hidden;
	white-space: nowrap;

	td {
		padding: 0px 20px 0px 0px;
	}

	td:first-child {
		width:120px;
	}
}

/* status related */
.task-status {
	.fa;
	.fa-lg;

	&.success {
		.fa-icon(check-circle);
		color: @success-color;
	}

	&.failed {
		.fa-icon(exclamation-circle);
		color: @error-color;
	}

  &.killed {
    .fa-icon(exclamation-circle);
    color: @warning-color;
  }

	&.warning {
		.fa-icon(exclamation-triangle);
		color: @warning-color;
	}
}

div.indent {
	margin: 0px 0px 0px 20px;
	i {
		.fa;
		.fa-icon(angle-double-right);
	}
}

.countertable-group-header {
	background-color: lightgray;
}

.countertable-row {
	margin: 0px 0px 0px 15px;
}

.inline-display {
	display: inline;
}

.disabled-icon {
		pointer-events: none;
		color:lightgray;
}

.enabled-icon {
	cursor: pointer;
	color: black;
}

.input-dirty {
	background-color: yellow;
}

.table-container {
	height: 380px;
}