/**
 * Licensed to the Apache Software Foundation (ASF) under one
 * or more contributor license agreements.  See the NOTICE file
 * distributed with this work for additional information
 * regarding copyright ownership.  The ASF licenses this file
 * to you under the Apache License, Version 2.0 (the
 * "License"); you may not use this file except in compliance
 * with the License.  You may obtain a copy of the License at
 *
 *     http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software
 * distributed under the License is distributed on an "AS IS" BASIS,
 * WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 * See the License for the specific language governing permissions and
 * limitations under the License.
 */

// Imports
@import "../bower_components/font-awesome/less/font-awesome";
@import "../bower_components/bootstrap/less/bootstrap"; //UI theme
@import "app/styles/dag-view";

// Colors
@import "app/styles/colors";
@import "app/styles/shared";

// Base style
body, html, body > .ember-view {
  height: 100%;
  overflow: visible;
}
body, html {
  min-width: 1024px;
}

// Styles used in both standalone and wrapped modes
.standalone, .wrapped {

  .main-container {
    margin: 0px 30px;
  }

  .breadcrumb {
    padding: 5px 15px;
    border: 1px solid @border-lite;
    font-size: 16px;
    .active .sub {
      font-size: 12px;
    }

    .fa-home:before {
      position: relative;
      font-size: 1.5em;
      top: 2px;
    }
  }

  .load-component {
    margin-bottom: 5px;

    .panel-body {
      padding-top: 5px;
      padding-bottom: 5px;
    }

    .fa-clock-o {
      .fa-2x;

      position: relative;
      top: 2px;
    }

    .align-children-right {
      vertical-align: top;
    }

    .margin-small-horizontal {
      vertical-align: middle;
    }
  }

  .navbar {
    margin-bottom: 0px;
  }
}

// TEZ UI in stand alone mode
.standalone {
  height: 100%;

  a, .pagination > li > a, .btn-default, .clickable {
    color: @logo-orange;
  }

  .is-current {
    color: white;
    background-color: @logo-orange;
  }

  #top-nav {
    a.logo {
      img {
        margin-top: 2px;
      }
      span {
        vertical-align: bottom;
        color: @logo-orange;
      }
      &:hover {
        text-decoration: none;
      }
    }

    .navbar-inner {
      background-color: @bg-lite;

      max-height: 40px;
      border-bottom: 1px @border-lite solid;
    }
  }

  .breadcrumb {
    border: 1px solid @logo-orange;
  }

  .nav-pills > li.active > a,
  .nav-pills > li.active > a:hover,
  .nav-pills > li.active > a:focus {
    background-color: @logo-orange;
  }

  .top-wrapper {
    min-height: 100%;
    height: auto !important;
    height: 100%;
    margin: 0 auto -40px; // Must be same as footer & footer-frame
  }

  .footer, .footer-frame {
    height: 40px;
  }

  .footer {
    background-color: @white;
    color: @text-color;

    padding: 10px 0px;
    margin: 0px;

    border-top: 1px @border-lite solid;
  }
}

// TEZ UI wrapped in a host like Ambari
.wrapped {
  #top-nav, .footer, .push {
    display: none;
  }

  .is-current {
    color: white;
    background-color: @brand-primary;
  }
}

.error-bar {
  position: fixed;
  bottom: -50px;
  width: 100%;
  z-index: 1000;

  .main-container {
    margin: 0px 30px;

    .message-container, .close-container {
      .inline-block;
      vertical-align: top;
    }

    .message-container {
      width:90%;

      .align-children-left;

      .error-icon {
        .task-status;
        .failed;
        margin-top: 3px;
      }
    }

    .close-container {
      width:10%;

      .align-children-right;
    }
  }

  -webkit-transition: bottom .2s cubic-bezier(0.175, 0.885, 0.320, 1); /* older webkit */
  -webkit-transition: bottom .2s cubic-bezier(0.175, 0.885, 0.320, 1.275);
  -moz-transition: bottom .2s cubic-bezier(0.175, 0.885, 0.320, 1.275);
  -o-transition: bottom .2s cubic-bezier(0.175, 0.885, 0.320, 1.275);
  transition: bottom .2s cubic-bezier(0.175, 0.885, 0.320, 1.275); /* easeOutBack */

  background-color: #F5F5DC;
  color: @text-red;

  padding: 5px 0px 15px 0px;
  margin: 0px;
  min-height: 50px;

  border-top: 1px @border-lite solid;

  a {
    color: @text-red !important;
  }

  .message {
    display: none;
  }

  .details {
    display: none;
    overflow: auto;
    max-height: 300px;

    &.visible {
      display: inline;
    }
  }

  &.visible {
    bottom: -10px;

    .message {
      display: inline;
    }
  }
}

/* misc helpers */
.inline-block {
  display: inline-block;
}

.horizontal-half {
  .inline-block;
  width: 50%;
}

.align-children-left {
  text-align: left;
}

.align-children-right {
  text-align: right;
}

.align-children-center {
  text-align: center;
}

.align-right {
  float: right;
}

.align-left {
  float: left;
}

.margin-small {
  margin: 15px;
}

.margin-small-vertical {
  margin: 15px 0px;
}

.margin-small-horizontal {
  margin: 0px 15px;
}

.margin-medium-vertical {
  margin: 30px 0px;
}

.type-table {
  display: table;
}

.fill-full {
  width: 100%;
  height: 100%;
}

/* Navigation */
.page-nav-link {
  padding-top: 2px;

  .page-count {
    display: inline-block;
    text-align: right;
    width: 100px;
    .text {
      display: inline-block;
      width: 30px;
      margin-right: 3px;
      font-size: .8em;
    }
    .counter {
      font-size: 2em;
    }
  }

  .nav-first, .nav-prev, .nav-next {
    .fa;
    .fa-2x;
    cursor: pointer;
    color: black;
  }

  .disabled {
    pointer-events: none;
    color:lightgray;
  }

  .nav-first {
    .fa-icon(arrow-circle-o-left);
  }

  .nav-prev {
    .fa-icon(arrow-circle-left)
  }

  .nav-next {
    .fa-icon(arrow-circle-right);
  }
}

.pill-container {
  display: table-cell;
  margin-right: 30px;

  a {
    height: 30px !important;
    padding: 5px 15px !important;
  }
}

/* dag page */
.detail-list {
  table-layout: fixed;
  white-space: nowrap;

  tr {
    margin: 0px 0px 0px 15px;
    overflow: hidden;
  }

  thead {
    background-color: @bg-lite;
    font-style: italic;
    font-weight: bold;
  }

  td {
    padding: 0px 20px 0px 0px;
  }

  td:first-child {
    width:120px;
  }

  th, td {
    border: 1px solid @border-lite;
    padding: 5px;
  }
}

/* status related */
.task-status {
  .fa;
  .fa-lg;

  &.success {
    .fa-icon(check-circle);
    color: @success-color;
  }

  &.running {
    .fa-icon(spinner);
    .fa-spin;
    color: @success-color;
  }

  &.failed {
    .fa-icon(exclamation-circle);
    color: @error-color;
  }

  &.killed {
    .fa-icon(exclamation-circle);
    color: @error-color;
  }

  &.warning {
    .fa-icon(check-circle);
    color: @warning-color;
  }

  &.unknown {
    .fa-icon(exclamation);
    color: @unknown-color;
  }
}
.status-msg {
  margin-left: 20px;
}

.fa-action {
  .fa;
  .fa-2x;
  cursor: pointer;
  color: black;
}

.left-divider{
  padding-left: 5px;
  border-left: 1px solid lightgrey;
  margin-left: 5px;
}

.log-indent {
  margin: 0px 0px 0px 20px;
  i {
    .fa;
    .fa-icon(angle-double-right);
  }
}

.countertable {
  width: 100%;

  th, td {
    border: 1px solid #dcdcdc;
    padding: 5px 5px;
  }

  th, td.filter {
    background-color: #f0f0f0;
    font-style: italic;
    font-weight: bold;
  }

  th:first-child {
    width: 70%;
  }

  tr {
    margin: 0px 0px 0px 15px;
    &.group-header td {
      background-color: #f8f8f8;
      font-style: italic;
      font-weight: bold;
    }
  }
}

.kv-table {
  width: 100%;
  table-layout: fixed;

  th, td {
    border: 1px solid #dcdcdc;
    padding: 5px 5px;
    width: 50%;
    word-wrap:break-word;
  }

  th, td.filter {
    background-color: #f0f0f0;
    font-style: italic;
    font-weight: bold;
  }

  .input-wrapper {
    display: block;
    overflow: hidden;
    padding: 4px 10px 4px 4px;
  }

  input[type=search] {
    width: 100%;
  }
}

.ember-table-header-row {
  .ember-table-content {
    padding: 2px;
    input, select {
      width: 100%;
    }
    input {
      margin-bottom: -3px;
    }
  }
}
.ember-table-cell:last-child {
  border: none;
}

.inline-display {
  display: inline;
}

.disabled-icon {
  pointer-events: none;
  color:lightgray;
}

.enabled-icon {
  cursor: pointer;
  color: black;
}

.row-select {
  margin-left: 5px;

  display: inline-block;
  text-align: center;

  :first-child {
    margin-bottom: -3px;
    font-size: .85em;
  }
}

.dag-header {
  .margin-small-horizontal;

  .align-children-left {
    width: 65%;
    .inline-block;
  }
  .align-children-right {
    width: 35%;
    .inline-block;
  }

  margin-bottom: -5px;
  margin-top: 10px;

  .pagination-view {
    .page-list {
      margin-bottom: 2px;
    }
  }

  .filter-elements {
    .inline-block;

    margin-left: 5px;
    display: inline-block;

    input[type=text], select {
      width: 110px;
    }
    input, select {
      height: 20px;
      border-radius: 5px;
      border: 1px solid @border-color;
    }

    .load-counter-check {
      margin-left: 10px;
      vertical-align: sub;
    }

    :first-child {
      margin-bottom: -3px;
      font-size: .85em;

      padding: 2px;
    }
  }
}

.pagination-view {
  .inline-block;

  .page-list {
    .inline-block;
    .align-top;

    overflow: hidden;

    border: 1px solid @border-color;
    border-radius: 5px;

    padding: 0px;

    font-size: 0px;

    li {
      .inline-block;

      padding: 6px 10px;
      font-size: 14px;

      border-left: 1px solid @border-color;

      pointer-events: none;

      &.clickable {
        pointer-events: auto;
        &:hover {
          background-color: @bg-grey;
          cursor: pointer;
        }
      }
    }

    .total-page-count {
      font-size: .8em;
    }

    :first-child {
      border-left: none;
    }
  }
}

.table-container {
  .use-gpu;

  .task-status {
    .absolute;
    top: 7px;
  }

  margin: 10px 0px;

  .table-header {
    padding: 5px;

    button:hover {
      background-color: @bg-grey;
    }

    .table-message {
      .inline-block;
      font-size: 18px;
      margin-top: 10px;
      margin-left: 5px;
      vertical-align: super;

      overflow: hidden;
      transform: translateZ(0);
    }

    .horizontal-half {
      height: 33px;
      white-space: nowrap;
    }

    .search-view {
      .inline-block;
      .align-top;
      width: 70%;
    }

    .extra-table-buttons {
      .inline-block;

      .load-all {
        .inline-block;
        .left-divider;

        margin-left: 5px;
        text-align: center;

        :first-child {
          margin-bottom: -3px;
          font-size: .85em;
          color: red;
        }
      }

      .column-selector-button {
        .fa-action;
        .fa-icon(cog);
        .left-divider;
        .inline-block;

        padding-top: 5px;
        height: 36px;
      }
    }
  }

  .waiting {
    .fa;
    .fa-icon(spinner);
    .fa-spin;
    .fa-fw;
    .absolute;
  }

  .table-body-container{
    border: 1px solid @border-color;
    border-radius: 5px;

    margin: 5px 0px;

    overflow: auto;

    .table-body {
      .noise-background;
      white-space: nowrap;
      font-size: 0;

      .table-column {
        background-color: white;
        display: inline-block;
        min-width: 150px;
        border-left: 1px solid @border-color;

        &.first-item {
          border-left: none;
        }

        .table-header-cell, .table-cell {
          font-size: 13px;
          padding: 5px;
          position: relative;

          .cell-content {
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
            height: 18px;

            .message {
              color: @text-light;
              .waiting {
                color: @text-color;
              }
            }
          }

          .sort-icon {
            .fa;
            cursor: pointer;
            position: absolute;
            right: 8px;
            top: 9px;

            opacity: .5;
            .fa-icon(sort);

            &.asc {
              opacity: 1;
              top: 12px;
              .fa-icon(sort-asc);
            }
            &.desc {
              opacity: 1;
              top: 6px;
              .fa-icon(sort-desc);
            }
          }
          .resize-column {
            .fa;
            .fa-icon(ellipsis-v);

            cursor: col-resize;
            position: absolute;
            right: 2px;
            top: 10px;

            opacity: .2;
          }
        }

        .table-header-cell {
          font-weight: bold;

          padding-right: 15px;

          -webkit-user-select: none;
          -moz-user-select: none;
          -ms-user-select: none;
          user-select: none;

          background-color: @bg-grey;
          border-bottom: 1px solid @border-color;
        }

        .table-cell {
          border-top: 1px dotted @border-color;

          &.first-item {
            border-top: none;
          }
        }
      }
    }
  }
}

.ember-table-container {
  min-height: 20px;
  width: 100%;
  overflow: auto;
  border-right: 1px solid @border-lite;
  border-left: 1px solid @border-lite;
  .ember-table-table-block {
    overflow: visible !important;
  }
  .ember-table-scroll-container {
    display: none;
  }
}

.filter-cell, {
  left: 0px;
  top: 0px;
  .sort, .filter {
    position: absolute;
  }
  .filter {
    left: 5px;
    right: 20px;
  }
  .sort {
    cursor: pointer;
    top: 7px;
    right: 5px;
  }
}

.input-dirty {
  background-color: yellow;
}

/* --- Close button fix */
.align-close-button {
  margin-left: -1px;
  margin-top: -1px;
}
