/**
 * Licensed to the Apache Software Foundation (ASF) under one
 * or more contributor license agreements.  See the NOTICE file
 * distributed with this work for additional information
 * regarding copyright ownership.  The ASF licenses this file
 * to you under the Apache License, Version 2.0 (the
 * "License"); you may not use this file except in compliance
 * with the License.  You may obtain a copy of the License at
 *
 *     http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software
 * distributed under the License is distributed on an "AS IS" BASIS,
 * WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 * See the License for the specific language governing permissions and
 * limitations under the License.
 */

body, html, body > .ember-view {
  height: 100%;
  overflow: visible;
  color: @text-color;
}
body, html {
  min-width: 1024px;
}

// Styles used in both standalone and wrapped modes
.standalone, .wrapped {

  .lr-margin {
    margin: 0px 30px;
  }

  .header, .footer {
    .content {
      position: relative;

      .breadcrumb-container {
        position: absolute;
        left: 70px;
        right: 20px;
        top: 6px;

        .breadcrumb {
          .no-border;

          font-size: 1.2em;

          background-color: transparent;
          margin-bottom: 0px;

          .active {
          }
        }
      }

      .ui-info {
        position: absolute;
        right: 0px;
        top: 0px;
        height: 27px;

        span {
          .left-delim;
        }
        span:first-child {
          .no-border;
        }
      }
    }
  }

  .header {
    background-color: @bg-lite;

    height: 40px;
    border-bottom: 1px @border-color solid;
    margin-bottom: 10px;

    a.logo {
      img {
        margin-top: 2px;
        height: 34px;
        width: 70px;
      }
      &:hover {
        text-decoration: none;
      }
    }

    .ui-info {
      background-color: @bg-lite;
      margin-top: 10px;

      .fa::before {
        font-size: 20px;
      }
    }
  }

  .footer {
    background-color: @white;
    color: @text-color;

    padding: 10px 0px;
    margin: 0px;

    border-top: 1px @border-color solid;

    font-size: .9em;

    .ui-info {
      background-color: @white;
    }
  }
}

// TEZ UI in stand alone mode
.standalone {
  height: 100%;

  a, .pagination > li > a, .clickable {
    color: @logo-orange;
  }

  .footer-frame {
    height: 60px;
  }
  .footer {
    height: 40px;
  }

  .footer-pusher {
    min-height: 100%;
    height: auto !important;
    height: 100%;
    margin: 0 auto -40px; // Must be same as footer & footer-frame
  }
}

// TEZ UI wrapped in a host like Ambari
.wrapped {
  .header {
    border: 1px @border-lite solid;
    border-radius: 5px;
  }
  .footer {
    display: none;
  }
}



