/**
 * Licensed to the Apache Software Foundation (ASF) under one
 * or more contributor license agreements.  See the NOTICE file
 * distributed with this work for additional information
 * regarding copyright ownership.  The ASF licenses this file
 * to you under the Apache License, Version 2.0 (the
 * "License"); you may not use this file except in compliance
 * with the License.  You may obtain a copy of the License at
 *
 *     http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software
 * distributed under the License is distributed on an "AS IS" BASIS,
 * WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 * See the License for the specific language governing permissions and
 * limitations under the License.
 */

b {
  font-weight: bold;
}
.horizontal-half {
  width: 50%;
}

.display-block {
  display: block;
}

.left-delim {
  border-left: 1px solid @border-color;
  margin-left: 10px;
  padding-left: 10px;
}

.no-select {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;

  cursor: default;
}

.no-display {
  display: none !important;
}

.no-visible {
  visibility: hidden !important;
}

.no-margin {
  margin: 0px !important;
}

.no-pointer {
  pointer-events: none;
}

.inactive {
  .no-pointer;
  opacity: 0.4;
}

.no-wrap {
  white-space: nowrap;
}

.no-border {
  border: none !important;
}

.align-top {
  vertical-align: top;
}

.align-super {
  vertical-align: super;
}

.inline-block {
  display: inline-block;
}

.dotted-background {
  background:
  radial-gradient(#EEE 15%, transparent 17%) 0 0,
  radial-gradient(#EEE 15%, transparent 17%) 5px -5px,
  radial-gradient(#EEE 15%, transparent 17%) 5px 5px;
  background-color: #DDD;
  background-size: 10px 10px;
}

.absolute {
  position: absolute;
}

.use-gpu {
  -webkit-transform: translateZ(0);
     -moz-transform: translateZ(0);
      -ms-transform: translateZ(0);
       -o-transform: translateZ(0);
          transform: translateZ(0);
}

.force-scrollbar {
  overflow: auto;

  &::-webkit-scrollbar {
    -webkit-appearance: none;
  }
  &::-webkit-scrollbar:vertical {
    width: 11px;
  }
  &::-webkit-scrollbar:horizontal {
    height: 11px;
  }
  &::-webkit-scrollbar-thumb {
    border-radius: 8px;
    border: 2px solid #EEE;
    background-color: #BBB;
  }
  &::-webkit-scrollbar-track {
    background-color: #EEE;
    border-radius: 8px;
  }
}

.align-checknradio {
  input[type=checkbox], input[type=radio] {
    vertical-align: middle;
    position: relative;
    bottom: .2em;
  }
}

.left-divider{
  padding-left: 5px;
  border-left: 1px solid lightgrey;
  margin-left: 5px;
}

.clear-fix {
  &:after {
    content: " ";
    visibility: hidden;
    display: block;
    height: 0;
    clear: both;
  }
}

.animated-stripes {
  .diagonal-stripes-background(#FFF, #EEE);
  .animate;
  .white-inner-glow;
}

.diagnostics {
  padding: 10px;
  white-space: pre-line;

  div {
    padding-left: 20px;
  }
}

.em-table {
  .em-progress-container {
    padding-top: 1px;
  }

  .table-footer {
    .pagination-ui {
      margin-top: 10px;
    }
  }

  .table-body .table-scroll-body .table-column .header-body {
    .sort-icon {
      right: 7px;
      top: 50%;
      margin-top: -10px;
      width: 5px;
      height: 20px;
    }

    .resize-column {
      position: absolute;
      right: 0px;
      top: 50%;
      margin-top: -10px;
      width: 5px;

      &:after {
        content: "\F142";
        font: normal normal normal 13px/1 FontAwesome;
        position: absolute;
        top: .3em;
      }
    }
  }
}

.em-message {
  opacity: .5;
}
