<div style="display:table; width:100%;">
	<div style="display:table-cell; vertical-align:middle; font-size: 20pt; font-weight: bold;">
		<span>{{pageTitle}}</span> - <span>{{pageSubTitle}}</span>
	</div>
	<img src="img/apache_tez_logo_lowres.png" style="float:right; height: 50px; width: auto;"></img>
</div>
<hr style="margin: 5px;" />