
/* misc helpers */
.align-right {
	float: right;
}

.align-left {
	float: left;
}

.align-clear {
	clear: both;
}

.margin-small {
	margin: 15px;
}

.margin-small-horizontal {
	margin: 15px 0px;
}

.margin-medium {
	margin: 30px;
}

.type-table {
	display: table;
}

.fill-full {
	width: 100%;
	height: 100%;
}

/* Navigation */
.page-nav-link {
	cursor: pointer;
	color: black;
}

.page-nav-link.disabled {
	pointer-events: none;
	color:lightgray;
}

.pill-container {

}

.pill-container {
	display: table-cell;
	margin-right: 30px;
}

.pill-container a {
	height: 30px !important;
	padding: 5px 15px !important;
}

/* dag page */
.detail-list {
	table-layout: fixed;
	overflow: hidden;
	white-space: nowrap;
}

.detail-list td:first-child {
	width:120px;
}