{{!
* Licensed to the Apache Software Foundation (ASF) under one
* or more contributor license agreements.  See the NOTICE file
* distributed with this work for additional information
* regarding copyright ownership.  The ASF licenses this file
* to you under the Apache License, Version 2.0 (the
* "License"); you may not use this file except in compliance
* with the License.  You may obtain a copy of the License at
*
*     http://www.apache.org/licenses/LICENSE-2.0
*
* Unless required by applicable law or agreed to in writing, software
* distributed under the License is distributed on an "AS IS" BASIS,
* WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
* See the License for the specific language governing permissions and
* limitations under the License.
}}

<div class="panel panel-default load-component">
  <div class="panel-body">
    <div class="horizontal-half">
      <i class='fa fa-clock-o'></i>
    </div><div class="horizontal-half align-children-right">
      <span class="margin-small-horizontal">
        {{#if displayTime}}
          Last refreshed at <b>{{displayTime}}</b>
        {{else}}
          Load time not available!
        {{/if}}
      </span>
      <button type="button" {{bind-attr class=":btn :btn-success :btn-sm isRefreshable::no-display"}} {{action 'refresh'}}>
        <i class='fa fa-refresh'></i>
        Refresh
      </button>
    </div>
  </div>
</div>