{{!
 * Licensed to the Apache Software Foundation (ASF) under one
 * or more contributor license agreements.  See the NOTICE file
 * distributed with this work for additional information
 * regarding copyright ownership.  The ASF licenses this file
 * to you under the Apache License, Version 2.0 (the
 * "License"); you may not use this file except in compliance
 * with the License.  You may obtain a copy of the License at
 *
 *     http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software
 * distributed under the License is distributed on an "AS IS" BASIS,
 * WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 * See the License for the specific language governing permissions and
 * limitations under the License.
}}

<div class="groups">
  <div class="bar" title="Pre-Execution + DAG construction">Pre-Execution + DAG construction</div>
  <div class="bar" title="DAG Submission">DAG Submission</div>
  <div class="bar" title="DAG Runtime">DAG Runtime</div>
  <div class="bar" title="Post Execution">Post Execution</div>
</div>

<div class="sub-groups">
  <div class="bar" title="Compile">Compile</div>
  <div class="bar" title="Parse">Parse</div>
  <div class="bar" title="Semantic Analyze">Semantic Analyze</div>
  <div class="bar" title="Build Dag">Build Dag</div>

  <div class="bar" title="Submit Dag">Submit Dag</div>
  <div class="bar" title="Submit To Running">Submit To Running</div>

  <div class="bar" title="Run Dag">Run Dag</div>

  <div class="bar" title="Post ATS Hook">Post ATS Hook</div>
  <div class="bar" title="Remove Files">Remove Files</div>
  <div class="bar" title="Rename Or Move Files">Rename Or Move Files</div>
</div>
