{{!
 * Licensed to the Apache Software Foundation (ASF) under one
 * or more contributor license agreements.  See the NOTICE file
 * distributed with this work for additional information
 * regarding copyright ownership.  The ASF licenses this file
 * to you under the Apache License, Version 2.0 (the
 * "License"); you may not use this file except in compliance
 * with the License.  You may obtain a copy of the License at
 *
 *     http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software
 * distributed under the License is distributed on an "AS IS" BASIS,
 * WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 * See the License for the specific language governing permissions and
 * limitations under the License.
}}

<div class="message">
  {{#if content.downloader.failed}}
    <i class="fa fa-lg fa-exclamation-circle"></i>
    Error downloading data!
  {{else}}
    <i class="fa fa-lg fa-spinner fa-spin"></i>
    Downloading data for dag: <b>{{content.dag.entityID}}</b>
  {{/if}}
</div>


<div class="form-actions">
  {{#if content.downloader.failed}}
    <button type="button" class="btn btn-primary" data-dismiss="modal" aria-label="Close">Ok</button>
  {{else}}
    <button type="button" class="btn" data-dismiss="modal" aria-label="Close" {{action "cancel"}}>Cancel</button>
  {{/if}}
</div>